body {
    background-color: lightgray
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    margin-left: 37%;
}
h5 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 7px;
}

.canvas, .palette {
    width: 550px;
    height: 450px;
    background-color:darkgrey;
    border: 20px solid darkgrey;
    border-radius: 30px;
    margin-left: 29%;
    

}
.palette {
    height: 100px;
    margin-top: 25px;
}
.pixel {
    width: 20px;
    padding-bottom: 20px;
    border: 1px solid darkgray;
    border-radius: 4px;
    background-color: white; 
    float: left;  
}
.paint {
    width: 50px;
    padding-bottom: 50px;
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 50%;
    float: left;
    margin: 4px;
}
.current {
    width: 300px;
    height: 30px;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 20px;
    float: left;
    margin-top: 15px;
}
.custom {
    width: 45px;
    height: 30px;
    border: 1px solid darkgray;
    border-radius: 20px;
    float: right;
    margin-top: 15px;
}
.submit, .reset {
    width: 60px;
    height: 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    float: right;
    margin: 15px 15px;

}

#black {
    background-color: black;
}
#white {
    background-color: white;
}
#red {
    background-color: crimson;
}
#orange {
    background-color: orange;
}
#yellow {
    background-color:gold;
}
#green {
    background-color: limegreen;
}
#blue {
    background-color: cornflowerblue;
}
#indigo {
    background-color: teal;
}
#violet {
    background-color: purple;
}
#custom {

}
